ol.ol-marker-1 > li::marker { content: "("counter(list-item,lower-alpha)") "; }
ol.ol-marker-2 > li::marker { content: "l"counter(list-item,lower-alpha)"belalph "; }
ol.ol-marker-3 > li::marker { content: "labeltextbfalphitemsep1"counter(list-item,decimal)"pttopsep10pt "; }
ol.ol-marker-4 > li::marker { content: "l"counter(list-item,lower-alpha)"belalphitemsep5pt "; }
